@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.navigation {
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item {
  margin: 2rem;
}
a {
  text-decoration: none;
}
// a {
//   position: relative;
//   display: inline-block;
//   font-size: 1em;
//   font-family: "Roboto Slab", serif;
//   font-weight: bold;
//   color: #fd5800;
//   overflow: hidden;
//   background: linear-gradient(to right, #432371, #432371 50%, #faae7b 50%);
//   background-clip: text;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   background-size: 200% 100%;
//   background-position: 100%;
//   transition: background-position 275ms ease;
// }
// a:hover {
//   background-position: 0 100%;
// }
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #714674 50%, #432371 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  color: white;
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content h1 {
  margin-top: 0rem;
  font-size: 4rem;
  font-family: "Roboto Slab", serif;
}
.content h3 {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
}
.name {
  color: #faae7b;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
.content {
}
.button {
  --offset: 10px;
  --border-size: 2px;
  top: 26rem;
  left: 36rem;
  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #faae7b;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;

  &:hover {
    background: rgba(100, 0, 0, 0.03);
  }

  &__horizontal,
  &__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;

    &::before {
      content: "";
      position: absolute;
      border: inherit;
    }
  }

  &__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--vertical-offset) - var(--border-size));
      bottom: calc(var(--vertical-offset) - var(--border-size));
      left: calc(var(--vertical-offset) * -1);
      right: calc(var(--vertical-offset) * -1);
    }
  }

  &:hover &__horizontal {
    transform: scaleX(0);
  }

  &__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--horizontal-offset) * -1);
      bottom: calc(var(--horizontal-offset) * -1);
      left: calc(var(--horizontal-offset) - var(--border-size));
      right: calc(var(--horizontal-offset) - var(--border-size));
    }
  }

  &:hover &__vertical {
    transform: scaleY(0);
  }
}
.project {
  width: 20rem;
  border-radius: 13px;
  border: 3px solid blue;
}
.project img {
  width: 20rem;
  border-radius: 13px 0px 13px 0px;
}
@media screen and (min-width: 1280px) {
  .button {
    left: 33rem;
    top: 29rem;
  }
}
@media screen and (min-width: 1600px) {
  .button {
    top: 22rem;
    left: 42rem;
  }
}
@media screen and (min-width: 1900px) {
  .button {
    top: 36rem;
    left: 53rem;
  }
}
