@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.navigation {
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  text-decoration: none;
}
.Nav_link {
  margin: 2rem;
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: #fd5800;
  overflow: hidden;
  background: linear-gradient(to right, #432371, #432371 50%, #faae7b 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.Nav_link:hover {
  background-position: 0 100%;
}
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #714674 50%, #432371 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  color: white;
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
.content h1 {
  margin-top: 0rem;
  font-size: 4rem;
  font-family: "Roboto Slab", serif;
}
.content h3 {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
}
.name {
  color: #faae7b;
}
.bodyAbout {
  height: 36rem;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
.name {
  color: #faae7b;
}
.content {
}
.button {
  --offset: 10px;
  --border-size: 2px;
  top: 26rem;
  left: 36rem;
  display: block;
  position: relative;
  padding: 1.5em 3em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #faae7b;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;

  &:hover {
    background: rgba(100, 0, 0, 0.03);
  }

  &__horizontal,
  &__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;

    &::before {
      content: "";
      position: absolute;
      border: inherit;
    }
  }

  &__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--vertical-offset) - var(--border-size));
      bottom: calc(var(--vertical-offset) - var(--border-size));
      left: calc(var(--vertical-offset) * -1);
      right: calc(var(--vertical-offset) * -1);
    }
  }

  &:hover &__horizontal {
    transform: scaleX(0);
  }

  &__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;

    &::before {
      top: calc(var(--horizontal-offset) * -1);
      bottom: calc(var(--horizontal-offset) * -1);
      left: calc(var(--horizontal-offset) - var(--border-size));
      right: calc(var(--horizontal-offset) - var(--border-size));
    }
  }

  &:hover &__vertical {
    transform: scaleY(0);
  }
}
.main-title {
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.content-image {
  width: 35rem;
  border-radius: 13px;
}
.containerProject,
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.containerProjects {
  text-align: center;
}
.projectText {
  width: 40%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectText h3 {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  margin: 0rem;
}
.projectText p {
  font-size: 1.5rem;
  width: 80%;
}
.logos img {
  width: 4rem;

  margin: 1rem;
}
hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px #714674;
  width: 80%;
}
.projects {
  font-family: "Roboto Slab", serif;
  font-size: 5rem;
  color: #714674;
}
.projectImg {
}
.buttons a {
  border: 2px solid #432371;
  padding: 0.5rem;
  width: 5rem;
  margin: 1rem;
  color: #432371;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.buttons a:hover {
  border: 2px solid #faae7b;
  background-color: #faae7b;
}

.contact {
  margin-top: 3rem;
  padding-bottom: 3rem;
  width: 70%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contact h2 {
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  color: #432371;
  width: 60%;
}
.contact p {
  font-size: 1rem;
  font-family: "Roboto Slab", serif;
  color: #fd5800;
  font-weight: bold;
  width: 60%;
}
.media a {
  color: #432371;
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.media {
  width: 47%;
}
.contactHeader {
  font-size: 5rem;
  font-family: "Roboto Slab", serif;
  color: #714674;
  margin: 0rem;
}
.contactText img {
  width: 14rem;
  border-radius: 51%;
}
$pink: #fe3a7d;
$orange: #ff7b0a;

@media only screen and (min-device-width: 360px) and (max-device-width: 764px) {
  .container {
    display: block;
    width: 100%;
  }
  .containerProject,
  .buttons {
    flex-direction: column;
  }
  .content-image {
    width: 17rem;
  }
  .content h1 {
    font-size: 2rem;
  }
  .content h3 {
    font-size: 1rem;
  }
  .projectText p {
    display: none;
  }
  .button {
    left: 5rem;
    top: 31rem;
  }
  .buttons {
    flex-direction: row;
  }
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .contact h2 {
    width: 100%;
  }
  .contact p {
    width: 100%;
  }
  .contactHeader {
    font-size: 4rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    display: block;
    width: 100%;
  }
  .containerProject,
  .buttons {
    flex-direction: column;
  }
  .content-image {
    width: 17rem;
  }
  .projectText p {
    display: none;
  }
  .button {
    left: 17rem;
    top: 42rem;
  }
  .buttons {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .button {
    left: 33rem;
    top: 29rem;
  }
}
@media screen and (min-width: 1600px) {
  .button {
    top: 22rem;
    left: 42rem;
  }
}
@media screen and (min-width: 1900px) {
  .button {
    top: 36rem;
    left: 53rem;
  }
}

@media screen and (max-width: 640px) {
  .container {
    display: block;
    width: 100%;
  }
}
